export(corHMM,corDISC,corPAINT,rate.mat.maker,rate.par.drop,rate.par.eq,ancRECON,rayDISC,plotRECON, dev.raydisc, lewisMkv, readNexusMorph, ConvertPhangornReconstructions)
import(ape, nloptr, corpcor, GenSA)
importFrom(numDeriv, hessian)
importFrom(expm, expm)
importFrom(phangorn, parsimony, phyDat, acctran)
importFrom(parallel, mclapply)
importFrom(Rmpfr, mpfr)
importFrom(nnet, which.is.max)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "legend", "plot")
importFrom("stats", "median", "reorder", "rexp", "runif", "pgamma", "qgamma")
exportClasses('corhmm','cordisc', 'raydisc', 'corpaint', 'lewis.mkv')
S3method(print, corhmm)
S3method(print, cordisc)
S3method(print, raydisc)
S3method(print, corpaint)