export(corHMM,corDISC,corPAINT,ancRECON,rayDISC,plotRECON, dev.raydisc, lewisMkv, readNexusMorph, ConvertPhangornReconstructions, plotMKmodel, getRateCatMat, dropStateMatPars, equateStateMatPars, getFullMat, getStateMat4Dat, makeSimmap)
import(ape, nloptr, corpcor, GenSA)
importFrom(phytools, plotSimmap)
importFrom(igraph, graph_from_adjacency_matrix, layout_in_circle, vertex.attributes, plot.igraph)
importFrom(viridis, plasma, viridis, magma)
importFrom(numDeriv, hessian)
importFrom(expm, expm)
importFrom(phangorn, parsimony, phyDat, acctran)
importFrom(parallel, mclapply)
importFrom(Rmpfr, mpfr)
importFrom(nnet, which.is.max)
importFrom("grDevices", "dev.off", "pdf", "rgb", "colorRampPalette")
importFrom("graphics", "legend", "plot")
importFrom("stats", "median", "reorder", "rexp", "runif", "pgamma", "qgamma")
importFrom("MASS", "Null")
importFrom("graphics", "par", "rect", "text")
importFrom("stats", "na.exclude", "na.omit", "rmultinom")
S3method(print, corhmm)
S3method(print, cordisc)
S3method(print, raydisc)
S3method(print, corpaint)